<% if @workouts.any? %>
  <div class="mg-2 flex flex-col gap-2">
    <% @workouts.each do |workout| %>
        <%= render "workouts/workout", workout: workout %>
    <% end %>
  </div>
<% else %>
<div class="flex flex-col bg-card text-3xl justify-center align-middle rounded-xl p-5 gap-4">
    <h1 class="">
      Please create some <%= link_to "workouts", new_workout_path, class: " underline w-fit" %>.
    </h1>

</div>
<% end %>