<% provide(:title, "All exercises") %>
<div class="flex flex-col gap-2">
    <% @exercises.each do |e| %>
      <div class="bg-card p-4 mx-2 rounded-2xl">
          <%= render "exercise", exercise: e %>
      </div>
    <% end %>
</div>